<app-nav></app-nav>

<div class="container">
    <h1>Products</h1>
    <button class="btn btn-outline btn-sm" (click)="addProduct()">Add Product</button>
    <clr-datagrid>
        <clr-dg-column clrDgField="name">Name</clr-dg-column>
        <clr-dg-column>Expiration Date</clr-dg-column>
        <clr-dg-column clrDgField="active">Active</clr-dg-column>

        <clr-dg-row *ngFor="let p of getProductList()">
            <clr-dg-action-overflow>
                <button class="action-item" (click)="product(p.id!)">Edit</button>
                <button class="action-item" (click)="deleteProduct(p.id!)"
                >Delete
                </button>
            </clr-dg-action-overflow>
            <clr-dg-cell>{{p.name}}</clr-dg-cell>
            <clr-dg-cell>{{p.expirationDate}}</clr-dg-cell>
            <clr-dg-cell>
                <span class="label" [ngClass]="{'label-success': p.active,
                    'label-danger': !p.active}">{{ p.active ? 'Active':
                    'Inactive'}}</span>

            </clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>
            <clr-dg-pagination #pagination [clrDgPageSize]="10">
                <clr-dg-page-size [clrPageSizeOptions]="[10,20,50]">Products per
                    page</clr-dg-page-size>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of
                {{pagination.totalItems}} products
            </clr-dg-pagination>
        </clr-dg-footer>
    </clr-datagrid>                 
</div>
