<app-products></app-products>
<form clrForm [formGroup]="form" (ngSubmit)="onSubmit()">

<clr-wizard #wizardlg [(clrWizardOpen)]="lgOpen" clrWizardSize="lg">
  <clr-wizard-title>{{ editing? "Edit" : "Create"}} Product</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>
  <clr-wizard-page>
    <ng-template clrPageTitle>Select Device Type</ng-template>
    <div class="clr-row devices">
      <div class="clr-col-md-6" *ngFor="let item of listOfDevices">
        <a
          href="javascript:void(0)"
          class="card clickable"

          [ngClass]="{ active: item.icon === deviceType }"
          appColors>
          <div class="card-block">
            <p class="card-text">
              {{ item.name }}

            </p>
          </div>
        </a>
      </div>
    </div>
  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>Basic Info</ng-template>
    <span class="clr-sr-only">Tabbing through form inputs will trigger
      validation messages to be read aloud.</span>
      <clr-input-container>
        <label>Product Name</label>
        <input clrInput placeholder="Product Name" name="name"  formControlName="name"/>
        <cds-icon class="clr-validate-icon" shape="exclamation-circle"></cds-icon>
        <clr-control-error>This Field is Required!</clr-control-error>
      </clr-input-container>

      <clr-toggle-container>
        <clr-toggle-wrapper>
          <input type="checkbox" clrToggle value="active"
            formControlName="active" name="options" />
          <label>Active</label>
        </clr-toggle-wrapper>
      </clr-toggle-container>

      <clr-textarea-container>
        <label for="description">Product Description</label>
        <textarea
          clrTextarea
          id="description"
          placeholder="Enter description here..."
          formControlName="description"></textarea>
      </clr-textarea-container>

      <clr-input-container>
        <label>Product Feature</label>
        <input clrInput type="text" placeholder="Features"
          formControlName="features" />
      </clr-input-container>
  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>Expiration Info</ng-template>
    <clr-input-container>
      <label>Expiration Date</label>
      <input clrInput type="text" placeholder="DD/MM/YYYY"
        formControlName="date"  />
    </clr-input-container>
    <button  class="btn btn-warning">{{editing? "edit": "Create"}}</button>
  </clr-wizard-page>
  <div class="container" >
    <ng-template>
      <p>
        succcessfully you have created a new product 
        press finish or create another one 
      </p>
    </ng-template>
  </div>
</clr-wizard>
</form>