@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@media screen and(min-width: 900px){
    .header-actions{
        position: absolute;
        right: 400px;
    }
    .title{
        position: absolute;
        left: 400px;
    }
}